@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: hsl(217, 78, 35);
  --color-secondary: hsl(217, 78, 80);
  --color-background: hsl(0, 0, 98);
  --color-bordergray: hsl(0, 0, 90);
  --color-darkgray: hsl(0, 0, 40);
  --color-black: hsl(0, 0, 12);

  --font-Noto-Sans: "Noto Sans", sans-serif;
}
